.add-button { 
    font-size: 20px;
    background-color: white;
    color: #3f9eda;
    font-weight: 500;
    height: 42px;
    width: 60px;
    outline: 0;
    border: none;
    transition-duration: 0.4s;
}

.add-button:hover {
    background-color: #3f9eda;
    color: white;
}