.list-item {
  display: flex;
  margin-top: 25px;
  margin-right: 40px;
  margin-bottom: 25px;
  margin-left: 22px;
  border-bottom: 1px solid #53bdff;
}

.delete-task-button {
  width: 30px;
  height: 30px;
  padding-bottom: 4px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #ff6161;
  color: white;
  font-size: 20px;
  outline: 0;
  border: none;
  min-width: 30px;
}

.checkbox {
  height: 30px;
  width: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  margin-right: 20px;
  border-radius: 4px;
  border: 1px solid #b8babd;
  outline: none;
  transition-duration: 0.3s;
  cursor: pointer;
  min-width: 30px;
}

.checkbox:checked {
  background-color: #53BDFF;
}

.line-through {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #53BDFF;
}

.task-text {
  font-size: 20px;
  word-wrap: break-word;
  max-width: 312px;
}

.task-text.collapsed {
  max-height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}