.clear-buttons-container {
  display: flex;
  justify-content: center;
  margin-left: 161px;
  margin-bottom: 50px;
}

.clear-completed-tasks,
.clear-all-tasks {
  font-size: 20px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #b8babd;
  color: #3f9eda;
  font-weight: 500;
  height: 42px;
  width: 140px;
  outline: 0;
  transition-duration: 0.4s;  
}

.clear-completed-tasks {
  width: 165px;
}

.clear-all-tasks {
  margin-left: 10px;
}

.clear-completed-tasks:hover,
.clear-all-tasks:hover {
  background-color: #3f9eda;
  color: white;
}

.scroll-to-top-button {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;

  font-size: 20px;
  background-color: white;
  border: 1px solid #b8babd;
  color: #3f9eda;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 10px;
  width: 95px;
  height: 95px;
  background-color: #F8F8F8;
}

.scroll-to-top-button:hover {
  background-color: #3f9eda;
  color: white;
}

.hidden {
  display: none;
  width: 0px;
}